body {
  display: flex;
  height: 100vh;
  align-items: center;
}
.frases-box {
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  h1 {
    text-align: center;
  }
  h2 {
    text-align: end;
    font-size: 20px;
  }
  .buttons {
    background-color: white;
    display: flex;
    justify-content: space-between;
    a {
      width: 40px;
      border-radius: 10%;
      height: 40px;
      align-items: center;
      float: right;

      i {
        color: white;
        padding: 12px;
      }
    }
  }
  button {
    height: 40px;
    width: 80px;
    border-radius: 10%;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
  }
}
.fadeOut {
  animation: teste 2s;
}
@-webkit-keyframes teste {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes teste {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
$colors: (
  cor1: #16a085,
  cor2: #27ae60,
  cor3: #2c3e50,
  cor4: #f39c12,
  cor5: #e74c3c,
  cor6: #9b59b6,
  cor7: #fb6964,
  cor8: #342224,
  cor9: #472e32,
  cor10: #bdbb99,
  cor11: #77b1a9,
  cor12: #73a857,
);
@mixin bg-colors {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }
}
@include bg-colors;

@mixin color {
  @each $name, $color in $colors {
    #color-#{$name} {
      color: $color;
    }
  }
}
@include color;
